html{

}
div {
    text-align: center;
    font-family: Pacifico;
}

body {
  background: url("bg.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

h1 {
    padding-top: 30px;
}

#bottom {
    font-size: 30px;
    background-color: #82ecff;
}

.topFont {
    font-size: 15px;
}

.wrap {

    justify-content: center;
}

.settingsBar {
    background-color: rgba(77, 255, 110, 0.6);
}

.btn1 {
    background-color: rgba(255, 103, 85, 0.6);
    width: 100%;
    border-radius: 0 !important;
    height: 40px;
}

.btn1:hover {
    background-color: rgb(255, 116, 56);
    font-size: 20px;
}

.btn1:active {
    background-color: rgb(255, 255, 255);
}

.btn2:hover {
    font-size: 30px;
}

.btn2:active {}

#strictWidth{
  width: 300px;
}
